.create-account {
  max-width: 100vh;
  height: 49rem;
  margin: 12rem auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.create-account-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.create-account-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttons {
  padding: 15px;
  margin: 5rem 0 0 22rem;
  justify-content: center;
  text-align: center;
  background-color: #eb984e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #45260a;
}
