.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 0.9rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.btn--full:link,
.btn--full:visited {
  margin-right: 1.6rem;
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.btns,
.btns:link,
.btns:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/* Responsive Design */
@media (max-width: 1344px) {
  .heading-primary {
    font-size: 4.8rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 1.7rem;
  }

  .hero {
    gap: 7.2rem;
  }
}

@media (max-width: 980px) {
  .heading-primary {
    font-size: 4rem;
  }

  .hero-description {
    font-size: 1.7rem;
  }

  .hero {
    display: block;
    text-align: center;
  }

  .hero-img-box {
    margin-top: 3.2rem;
  }

  .delivered-meals {
    margin-top: 4rem;
  }
}

@media (max-width: 704px) {
  .heading-primary {
    font-size: 3.6rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .hero-img-box {
    margin-top: 2.4rem;
  }

  .delivered-imgs img {
    height: 4rem;
    width: 4rem;
  }

  .delivered-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 544px) {
  .heading-primary {
    font-size: 3.2rem;
  }

  .hero-description {
    font-size: 1.5rem;
  }

  .hero-img-box {
    margin-top: 2rem;
  }

  .delivered-imgs img {
    height: 3.2rem;
    width: 3.2rem;
  }

  .delivered-text {
    font-size: 1.4rem;
  }
  .btns,
  .btns:link,
  .btns:visited {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 1.5rem;
  }
}
